.link-styles {
    color: var(--light);
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
  }


/* @media all and (min-width: 768px) {

    .footer{
        overflow-x: hidden;
    }

    .footer-content{
        display: flex;
    }

    .footer-content-about{
        margin-bottom: 0;
        flex: 0 0 60%;
    }

    .footer-heading{
        margin-bottom: 3rem;
    }
    .social-media-wrap{
        flex: 0 0 40%;
        margin-left: 2.5rem;
    }   
} */