.detailsCard {
    margin: 4rem auto;
}

.cardImage {
    max-width: 30rem;
    max-height: 17rem;
    background-size: cover;
}
.nameAndLikes {
    align-items: center;
    display: flex;
    justify-content: space-between;
}